<% node['server_names'].each do |server_name| -%>

	server {
	  listen   80;
	  server_name <%= server_name %>;

	  add_header X-Frame-Options SAMEORIGIN;
	  add_header X-XSS-Protection "1; mode=block";
	  add_header X-Content-Type-Options nosniff;

	  location /sitemap.xml.gz {
	  	return       301 http://s3-ap-southeast-1.amazonaws.com/images.vilara.com/public/sitemaps/sitemap.xml.gz;
		}


		<% if node['m_redirection'] -%>
			set $mobile_rewrite do_not_perform;
			 
			## chi http_user_agent for mobile / smart phones ##
			if ($http_user_agent ~* "(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino") {
			  set $mobile_rewrite perform;
			}
			 
			if ($http_user_agent ~* "^(1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-)") {
			  set $mobile_rewrite perform;
			}
			 
			## redirect to m.example.com ##
			if ($mobile_rewrite = perform) {
			  rewrite ^ http://<%= node['m_redirection'] %>$request_uri? redirect;
			  break;
			}

		<% end %>

	  location ~* .(json)$ {
	    proxy_pass <%= node['proxy_server'] %>;
	    #proxy_set_header                Host http://www.voonik.net;
	    proxy_pass_request_headers      on;
	    if ($http_user_agent ~ "Prerender") {
	        add_header Prerender true;
	    }
	  }
	  access_log  /var/log/nginx/localhost.access.log;

	  location ~* .(html|svg|js|css|xml|less|png|jpg|webp|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff)$ {
	    root   /home/ubuntu/webapp;
	    index  index.html index.htm;
	  }
	  #location / {
	  #  root   /home/ubuntu/webapp;
	  #   rewrite .* /index.html break;
	  #}

	  location /blacktaxi {
	  	return       301 http://www.vilara.com/listing/collections/black-taxi;
	}


	   location / {
	        try_files $uri @prerender;
	    }

	  location @prerender {
	      root   /home/ubuntu/webapp;

	        #proxy_set_header X-Prerender-Token u2bXG7lCApVWMkz66I7I;

	        set $prerender 0;
	        if ($http_user_agent ~* "baiduspider|twitterbot|facebookexternalhit|rogerbot|linkedinbot|embedly|quora link preview|showyoubot|outbrain|pinterest|slackbot|vkShare|W3C_Validator") {
	            set $prerender 1;
	        }
	        if ($args ~ "_escaped_fragment_") {
	            set $prerender 1;
	        }
	        if ($http_user_agent ~ "Prerender") {
	            set $prerender 0;
	        }
	        if ($uri ~ "\.(js|svg|css|xml|less|png|jpg|webp|jpeg|gif|pdf|doc|txt|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff)") {
	            set $prerender 0;
	        }

	        #resolve using Google's DNS server to force DNS resolution and prevent caching of IPs
	        resolver 8.8.8.8;

	        if ($prerender = 1) {

	            #setting prerender as a variable forces DNS resolution since nginx caches IPs and doesnt play well with load balancing
	            set $prerender "127.0.0.1:3000";
	            rewrite .* /$scheme://$host$request_uri? break;
	            proxy_pass http://$prerender;
	        }
	        if ($prerender = 0) {
	            rewrite .* /index.html break;
	        }
	    }
	}
                       
 <% end %>

<% if node['server_names_without_www'] -%>

	<% node['server_names_without_www'].each do |server_name| -%>

		server {
	    		listen       80;
	    		server_name  <%= server_name %>;
	    		return       301 http://www.<%= server_name %>$request_uri;
	    	}
	 <% end %>
 <% end %>
